body {
  color: white;
  font-weight: 800;
  background: darkblue;
  text-align: center;
  height: 100vh;
  width: 100%;
}

.topBar {
  width: 90%;
  margin: 0 5% 0 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 1em;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

h4 {
  margin: 15px 5px 25px 5px;
  font-size: 20px;
}

.container {
  width: 90%;
  height: 90%;
}

.home {
  display: flex;
  justify-content: space-around;
}

.home>div {
  width: 45%;
}

.left, .right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile {
  display: flex;
  height: 30%;
  padding-bottom: 1em;
}

.topscores table {}

.welcome img {
  width: 100%;
}

.profilePic {
  width: 30%;
}

.profilePic img {
  width: 80%;
}

/* Login and Register Forms  */

#login-form, #signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#login-form *, #signup-form * {
  width: 50%;
}

form {
  font-weight: 500;
}

#formDiv>span {
  display: block;
  margin-top: 20px;
}

.big {
  font-size: 1.5em;
}